* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #1c626b;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
}

.cabecalho-imagem{
    width: 15%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
}

.sobre-imagem{
    width: 20%;
}

.sobre{
    background-image: linear-gradient(#1c626b,#36f1e8);
    color:rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.-sobre-div-conteudo{
    width: 35%;
}
.sobre-titulo{
    padding: 24px 0;
}
body {
  font-family: "Caveat", cursive;
}
